@keyframes verticalFlip {
  from {
    transform: rotateX(180deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1000px);
  }
}
